# PostgreSQL (Pooler - for normal queries)
DATABASE_URL="postgresql://user:password@localhost:5432/myapp_db?schema=public"

# PostgreSQL (Direct - for migrations)
DIRECT_URL="postgresql://user:password@localhost:5432/myapp_db"

MONGO_URI="mongodb://127.0.0.1:27017/persona_ai_app"

PORT=5000

BCRYPT_SALT_ROUNDS=10

JWT_SECRET="Mera_secret_wala_password"